name: Android CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          path:
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{runner.os}}--gradle--

      - name: Grant execute permission for Gradlew
        run:  chmod +x gradlewl

      - name: Build Debug
        run: ./gradlew assembleDebug --stacktrace

      - name: Run Lint
        run: ./gradlew lint

      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest

      - name: Upload APK (Debug)
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/*.apk